services:
  postgres:
    image: postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: URLShortener
    volumes:
      - pgdata:/var/lib/postgresql/data 

volumes:
  pgdata: